@CHARSET "UTF-8";

/* 
 * Basic CSS for Tag User.
 * 
 */

div.taguser-avatar-cell {
	display:inline-block;
	width: 55px;
  height: 55px;
  overflow:hidden;
}

div.taguser-autocomplete {
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
	margin: 0 0 0 4px;
	padding: 4px 4px 4px 30px;
}

